body {
  background: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  background: url("./background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.map-marker-position {
  width: 35vh;
  height: 20vh;
  resize: both;
  overflow: auto;
  position: relative;
  /* Descomentar la siguiente linea para ver la magia*/
  /* border: 1px solid black; */
  transform: scale(5);
  mix-blend-mode: multiply; /* Eliminar esta linea para ver la magia */
}
.map-marker {
  background: white; /* Eliminar esta linea para ver la magia */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  pointer-events: none;
  width: 16px;
  height: 18px;
  background-image: url("./map-marker.svg");
  background-position: center;
  background-size: contain;
}
